<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<mvc:annotation-driven />

	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.zfx.*" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>																																                                                                                                                                                                                                                                                                                                                                                       
	</context:component-scan>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 访问静态地址资源，spring的核心控制器DispatcherServlet默认接受所有请求，加入如下配置后，访问 /picture/下的资源将直接访问，不经过核心控制器-->
	<mvc:resources location="/picture/" mapping="/picture/**"></mvc:resources>
	
	<!-- 
		StandardServletMultipartResolver和CommonsMultipartResolver都是spring提供的上传文件解析器
		区别：
			StandardServletMultipartResolver：不依赖其他jar，但是必须在servlet3.0以上环境中运行（tomcat7开始是servlet3.0）
										     上传文件大小，缓存文件路径等配置在web.xml的DispatcherServlet参数中
			CommonsMultipartResolver：依赖Apache的commons-fileupload.jar和commons-io.jar 两个jar包
			
		书上说，如果以Part参数方式接收文件上传就没必要配置MultipartResolver上传文件解析器，只有MultipartFile参数形式接收才需要，但是实验所得，
		Part,MultipartFile,byte[] 参数形式接收上传文件都不需要配置MultipartResolver
	 -->
	<!-- <bean class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />
	 -->
	<!-- <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="2048000" />
	</bean>
	 -->
</beans>
